services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8000:${PORT}"
    environment:
      - DB_HOST=db
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
    networks:
      - workout-network

  db:
    image: mysql:8.0
    ports:
      - "3306:${DB_PORT}"
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_DATABASE=${DB_NAME}
      - MYSQL_USER=${DB_USER}
      - MYSQL_PASSWORD=${DB_PASSWORD}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db.sql:/docker-entrypoint-initdb.d/01-schema.sql
      - ./data.sql:/docker-entrypoint-initdb.d/02-data.sql
    networks:
      - workout-network

volumes:
  mysql_data:

networks:
  workout-network:
    driver: bridge